<div class="">
    <h3>Products Form</h3>
    <form action="" #prdForm="ngForm" (ngSubmit)="onSubmit(prdForm.value); prdForm.reset()">
        <div class="">
            <label for="name">Product Name</label>
            <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="model.productName" required>
            <div class="" *ngIf="name.invalid && name.touched">
                <small *ngIf="name.errors?.['required']">Khong de trong truong nay</small>
            </div>
        </div>
        <div class="">
            <label for="price">Price</label>
            <input type="number" id="price" name="price" #price="ngModel" [(ngModel)]="model.price" required min="1">
            <div class="" *ngIf="price.invalid && price.touched">
                <small *ngIf="price.errors?.['required']">Khong de trong truong nay</small>
                <small *ngIf="price.errors?.['min']">Gia phai lon hon 0</small>
            </div>
        </div>
        <div class="">
            <label for="categories">Category</label>
            <select id="categories" name="categories" #categories="ngModel" [(ngModel)]="model.category" required>
                <option value="">Select Category</option>
                <option value="electronics">Electronics</option>
                <option value="clothing">Clothing</option>
                <option value="books">Books</option>
            </select>
            <div class="" *ngIf="categories.invalid && categories.touched">
                <small *ngIf="categories.errors?.['required']">Khong de trong truong nay</small>
            </div>
        </div>
        <div class="">
            <label for="sku">SKU</label>
            <input type="text" name="sku" id="sku" #sku="ngModel" [(ngModel)]="model.sku" skuValidator>
            <div class="" *ngIf="sku.invalid && sku.touched">
                <small *ngIf="sku.errors?.['skuValidator']">SKU khong hop le. Dinh dang: AAA-1234</small>
            </div>
        </div>
        <div class="">
            <label for="des">Description</label>
            <textarea id="des" name="description" #description="ngModel" [(ngModel)]="model.description"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
