<div class="product">
    <h2>Products works!</h2>
    <div class="">
        <input type="text" placeholder="Search products" #valueSearch />
        <button (click)="submitSearch(valueSearch.value)">Search</button>
    </div>
    <div class="" *ngIf="isLoading">Loading...</div>
    <div class="" *ngIf="!isLoading">
        <ul>
            <li *ngFor="let item of products">
                <a [routerLink]="['/product', item.id]">{{item.title}}</a>
                <span>({{item.category}})</span>
            </li>
        </ul>
    </div>
</div>
